# Node modules & build output
node_modules
build
dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment files
.env
.env.local
Data
*.pyc
__pycache__
uploads
__pycache__/
fastapi-env
tests
server.js
db.json
node_modules
.DS_Store
*.pth
*.mp3
*.mp4
*.h5
*.pdf
DB