# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and metadata
*.log

# Virtual environments
venv/
.env

# Model files — these will be downloaded via script
Ai/Audio_Model/*
Ai/Video_Model/*
Ai/Text_Model/Models/*

# IDE/editor files
.vscode/
.idea/
.DS_Store
Data
*.pyc
__pycache__
uploads
__pycache__/
fastapi-env
tests
server.js
db.json
node_modules
.DS_Store
*.pth
*.mp3
*.mp4
*.h5
*.pdf
DB